@tailwind base;
@tailwind components;

:root {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

@tailwind utilities;

@layer utilities {
  .bg-assets-areas {
    background-image: url('/assets/img/background-areas.svg');
  }
  .bg-assets-areas-vertical {
    background-image: url('/assets/img/background-areas-vertical.svg');
  }
}
